<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>QMessenger Lobby</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="/Scripts/jquery-2.1.0.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Apps/lobby.js"></script>

</head>
<body>
    <div class="container-fluid" ng-controller="LobbyController">
        <div class="row">
            <div class="col-md-12 login-status">
                <button class="btn btn-primary" ng-click="logout()">logout</button>
            </div>
            <div class="col-md-12 my-info">
                <span>{{my_alias}} ({{my_userId}})</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 friend-info" ng-repeat="friend in friends">
                <span>{{friend.alias}} ({{friend.userId}})</span>
            </div>
        </div>
    </div>




    <div id="cont-div">
        <ul id="cont"></ul>
    </div>

    <div id="user-info">
        <div id="my-info">

        </div>

        <div id="friend-info">
            <ul id="friend-cont"></ul>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var lobbyHub = $.connection.lobbyHub;

            lobbyHub.client.notify = function (connectionId, userId) {
                var display = connectionId + '|' + userId;
                $('#cont').append('<li>' + display + '</li>');
            };

            lobbyHub.client.notifyUserInfo = function (userInfo) {
                var my_display = userInfo.Alias + ' (' + userInfo.UserId + ')';
                $('#my-info').text(my_display);

                //for (friend in userInfo.Friends) {
                userInfo.Friends.forEach(function (friend) {
                    var friend_display = friend.Alias + ' (' + friend.UserId + ')';
                    $('#friend-cont').append('<li>' + friend_display + '</li>');
                });
            };

            $.connection.hub.start().done(function () {
                //lobbyHub.server.signalToConnection();
            });
        });
    </script>
</body>
</html>